.font {
    font-family: sans-serif;
    font-weight: 700;
    margin: 1px 0;
    line-height: 1.5;
}

.newlink {
    color: white;
    font-style: oblique;
}

.imgCrcl {
    border-style: solid;
    border-radius: 50%;
    margin-right: 20px;
}

.containerOfMe {
    display: flex;
    align-items: center;
    position: relative;
    grid-row: 1;
}

.image-wrapper {
    position: relative;
}

.smallImg {
    position: absolute;
    top: 71%; /* lower number goes up, bigger number goes down */
    left: 67%; /* lower number goes left, bigger number goes right */
    border-radius: 50%;
}

.text-content {
    max-width: 200px;
}

.h2f {
    color: rgb(192, 192, 192);
}

.h3f {
    color: rgb(179, 179, 179);
}

.h4f {
    color: rgb(168, 168, 168);
}

html, body {
    height: 100%;
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto;
}

body {
    background-color: black;
    color: white;
    flex: 1 0 auto;
}

@media (max-width: 600px) {
    .containerOfMe {
        flex-direction: column;
        align-items: center;
    }

    .imgCrcl {
        margin-right: 0;
    }

    .smallImg {
        position: static;
        margin-top: -30px;
    }

    .text-content {
        text-align: center;
    }
}

.footer {
    background-color: #0f0f0f;
    color: white;
    padding: 10px;
    text-align: right;
    position: relative;
    box-sizing: border-box;

    display: flex;
    align-items: center;

    bottom: 0%;
    width: 100%;
    grid-row: 100;
}

.links-footer {
    margin-top: 10px;
    text-align: left;
    
}

.footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.footer a:hover {
    text-decoration: underline;
}